* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Muli,sans-serif;
    position: relative;

    /* da cancellare */

    border: 1px solid black;
}

.grey {
    background-color: #f5f8fa;
}
.nav{
    border-top: 1px solid #d3dde7;
    border-bottom:1px solid #d3dde7
}

.menu{
    height:50px;
}

.blue{
    background-color: #33475b;
}

.pink{
    background-color: #fff3ee;
    /* position: relative; */
}

.green {
    background-image: linear-gradient(to right, #00acb6, #00b9a9);
}

/* HEADER */
.fixed-nav{
position: fixed, 0 auto;

}
.left-header {
    padding: 20px;
    display: inline-block;
}

nav li {
    float: left;
    /* padding: 0 20px; */
    list-style-type: none;
}

li a {
    color: #33475b;
    text-decoration: none;
    padding: 0 20px;
}
#language{
    border-right: 2px solid #d9e2ea;

}
.cta-container{
    float: right;
    padding: 20px;
}
#search{
    display: none;
}

#search-btn{
    margin:  10px;
    font-size: 20px;
    border-style: none;
    color: #00a4bd;
    background-color: none;
}

.cta-container form{
    text-align: center;
    float: left;
    font
}

.btn{
    padding: 5px;
    border:1px solid #ff7a59;
    border-radius: 5px;
    margin: 0 5px;
}

.btn-white{
    padding: 10px 20px;
    color: #ff7a59;
}

.btn-orange {
    color: white;
    background-color:  #ff7a59;
    padding: 20px 10px;
}

.btn-small {
    padding: 10px 20px;
}
/* FINE PRIMA BARRA NAV */

/* SECONDA BARRA NAV */
#logo img{
    width:  106px;
}
#logo{
    float: left;
}
#menu{
    float: right;
}

.menu-nav{
    padding:20px;
}
/* FINE HEADER */
/* banner */
.btn-big{
    padding:20px 15px;
}

.banner {
    height: 600px;
    padding: 50px 0;
    position: relative;
}
.jumbotron {
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.banner img {
    height: 400px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(15%);


}

h1 {
    font-size: 40px;
    color:#33475b ;
    margin-bottom: 20px;
    padding: 10px;
}

.jumbotron p{
    padding: 20px;
}

/* Inizio sezione 2 */
.intro {
    text-align: center;

}
.contenuto {
    width: 80%;
}

.top2{
    width: 60%;
    margin:0 auto,
    position:absolute;
}

.card{
    /* da cancellare */
    height:100px;
    color:blue;
}
.cards{
    float: left;
    width: 33.333333%;
    /* da cancellare */
    color :red;
    height:200px;
}
