* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Roboto,sans-serif;

}
/* valori di base contenitori fullwidth */
.white{
    color:#33475b ;
}
.grey {
    color:#33475b ;
    background-color: #f5f8fa;
}
.nav{
    border-top: 1px solid #d3dde7;
    border-bottom:1px solid #d3dde7
}

.menu{
    height:50px;
    margin-top:100px;
}

.blue{
    color:white;
    background-color: #33475b;
}

.pink{
    color:#33475b ;
    background-color: #fff3ee;
    /* position: relative; */
}

.green {
    color:white;
    background-image: linear-gradient(to right, #00acb6, #00b9a9);
}
/* fine valori fullwidth */

/* START SECTION 1 */
/* Start Header */
header{    /* barra fissa */
overflow: hidden;
position: fixed;
top:0;
left:0;
width: 100%;
z-index: 3; /*necessario affinvhè rimanga sempre in primo piano*/
}
.left-header {
    padding: 20px 0;
    display: inline-block;
}

nav li {
    float: left;
    /* padding: 0 20px; */
    list-style-type: none;
}

li a {
    color: #33475b;
    text-decoration: none;
    padding: 0 20px;
}
#language{
    border-right: 2px solid #d9e2ea;

}
.cta-container{
    float: right;
    padding: 20px;
}
#search{
    display: none;
}

#search-btn{
    margin:  10px;
    font-size: 20px;
    border-style: none;
    color: #00a4bd;
    background-color: none;
}

.cta-container form{
    text-align: center;
    float: left;
}

.btn{
    padding: 5px;
    border:1px solid #ff7a59;
    border-radius: 5px;
    margin: 0 5px;
}

.btn-white{
    padding: 10px 20px;
    color: #ff7a59;
}

.btn-orange {
    color: white;
    background-color:  #ff7a59;
    padding: 20px 10px;
}

.btn-small {
    padding: 10px 20px;
}
/* Fine Header */


/* start second nav bar */
#logo img{
    width:  106px;
}
#logo{
    float: left;
}
#menu{
    float: right;
}

.menu-nav{
    padding:20px;
}
/* END SECTION 1  */

/*START SECTION 2 PINK */
.btn-big{
    padding:20px 15px;
    margin-left:10px;
}

.banner {
    height: 600px;
    padding: 50px 0;
    position: relative;
}
.jumbotron {
    width: 45%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.banner img {
    height: 400px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(15%);
}
.banner{
    z-index: 2;
}
.barre-verdi{
    position:relative;
}
.riga-verde{
    float:left;
    width: 80%;
    height:48px;
    background-color:#afebe4;
    border-top: 2px solid #33475c;
    border-bottom: 2px solid #33475c;
    position: absolute;
    bottom:0;

}

.riga-verde-destra{
    float:left;
    width: 20%;
    height :87px;
    background-color: #00a48d;
    border-top: 2px solid#33475c;
    border-bottom: 2px solid #33475c;
    position: absolute;
    right:0;
    bottom: 0;
}


h1 {
    font-size: 45px;
    margin-bottom: 20px;
    padding: 10px;
}

.jumbotron p{
    padding: 10px;
}
/* END SECTION 2 PINK */

/* START SECTION 3 GREY   CARDS */
.top-grey {
    text-align: center;
}

.contenuto {
    padding: 100px 0;
    margin: 0 auto;
}

.top-grey img {
    width: 250px;
    height:200px;
}

.top-grey h2,{
    margin:10px;
}
.top-grey p, .green-top p{
    margin:20px 0;
}
 /* start cards */
.card-box:hover, .card-uno:hover {            /*zoom cards with hover*/
  box-shadow: 0 5px 11px 0 #eaf0f6;
  transform: scale(1.05);
}
.card-box{
    background-color: white;
    margin:0 10px;
    padding: 15px;
    transition: 0.3s;
    border-radius: 5px;
}


.card img {
    width: 210px;
    height: 150px;
    object-position: center;
}
.card{
    float: left;
    width: 33.3333%;
}

.card-uno img{
    width: 210px;
    height: 150px;
}

.card p{
    padding:15px;
    margin:15px auto;
}

.card-uno{
    background-color: white;
    padding: 30px ;
    margin: 25px 10px;
    border-radius: 5px;
}

.card-right h3, h4, hr{
    margin: 15px auto;
}
.card-right hr {
    width: 65%;
    vertical-align: middle;
    margin: auto 20px;

}

.card-right h4, .card-right hr{
    display: inline-block;
}

.card-left{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.card-right{
    width: 65%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: 35px;

}
.card-top{
    height: 350px;
    text-align: center;
}

.card-top h3, .card-top p{
    margin:15px auto;
}
.card-bottom h4{
    text-align: center;
    margin:20px auto;
}

.btn-medium {
    padding:10px 15px;
    margin :15px auto;
}
.btn-card {
    text-align: center;
    margin:15px auto;
}

.contenuto ul, .column ul {
  list-style: none;
  padding: 10;
  margin:20px auto;
}
.card-right li {
    display: inline-block;
    padding: 10px;
}

.card-box li i, .card-uno li i {
    color:#ff7a59;
    margin:auto 10px;
}

/* END SECTION 3 GREY */

/* START SECTION 4 GREEN TABLE */

.green-top{
    width: 90%;
    padding: 50px 0;
    text-align: center;
    margin:0 auto;
}

.green-top h2{
    padding:20px;
}
.green-bottom{
    text-align: center;
    margin: 0 auto ;
    padding:100px 0;
}
.item{
    width: 25%;
    float: left;
    padding: 30px;
    border: 1px solid white;
}

.item-row-top{
    border-top: none;
    border-left: none;
    border-bottom: none;
    height:260px;
}

.item-row-bottom{
    border-bottom: none;
    border-left: none;
    height:260px;
}
.item-right{

    border-right: none
}
.item-text{
    line-height: 100px;
    vertical-align: middle;
    object-position: center;
    position: relative;
}
.number{
    font-size: 50px;
    font-weight: 700;
    display: inline-block;
}
.plus{
    margin :auto 5px;
    display: inline-block;
    font-weight: bold;
    position : absolute;
}
/* END SECTION 2  */

/* START SECTION 5 WHITE  */

.white-top{
    margin:30px auto;
}
.white-bottom{
    position: relative;
}
.counter, .logo-item{   /*customers counter*/
    float: left;
}
.counter{
    width: 20%;
    padding: 30px;
}
.table{                 /*partners logo*/
    float: right;
    margin: 20px 150px;
}

.logo-item{
    text-align: center;
    padding: 15px 1px;
    margin:auto 5px;

}

.logo-partners{
    object-fit: contain;
    width: 100px;
    height:35px;

}

.foto{                /*assistant photo*/
    float: right;
    margin-right: 50px;

}
.foto img {
    width:300px;
    height:350px;
}

/* END SECTION 5 */

/* START SECTION 6 CONTACTS FOOTER */

.footer-nav{
    position: relative;
    margin:50px auto;
}
.container-column{
    float: left;
    width: 25%;
}

.column{
padding: 15px;
}

.column li {
    padding: 8px 0;
    font-size:11px;
}
.column li a, .footer-top li a, .legal a{
    color:#c8d6e2;
    padding:0 ;
}

.column li a:hover, .footer-top li a:hover {
    color :#7fd1de;
}
.column button{
    border:none;
    margin:0;
    padding: 10px 15px;
}
.column button>a{
 border:none;
color: #33475b;
}

#social >a {
    padding :0 10px;
    font-size: 14px;
}
.footer-top li, .legal a{
    display: inline-block;
    padding: 0 15px;
}
.footer-top {
    margin : 0 auto;
    text-align: center;
}

.logo-hub{
    float: left;
    display: inline-block;
    padding: 10px;
}
.logo-hub ul{
    list-style-type: none;
}
.legal{
    float: right;
    display: inline-block;
    padding: 10px;
}

.legal li{
    display: inline-block;
}
